/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    position: relative;
}

body>.app {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    flex-direction: column;
}
